@import url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');

input {
    color: black;
    margin: 6px;
}

input[type=submit] {
    padding:5px 15px; 
    background:black; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
}

button {
    background-color: black;
    color: white;
}