@import url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');

body {
    font-family: 'IBM Plex Mono';
    display: flex;
    min-width: 375px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

p.white {
    color: white;
}

th {
    background-color: black;
    color: white;
}

span, a {
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    bottom: 10px;
    width: 100%;
}