@import url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');

body {
    font-family: 'IBM Plex Mono';
    display: flex;
    min-width: 375px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul.navbar {
    top: 10px;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #ffffff;
    color: black;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

p.white {
    color: white;
}

th {
    background-color: black;
    color: white;
}

span, a {
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    bottom: 10px;
    width: 100%;
}