@import url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');

#root {
  width: 100% !important;
  height: 100% !important;
}

.body {
    font-family: 'IBM Plex Mono';
    display: flex;
    flex-direction: column;
    min-width: 375px;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

ul.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #ffffff;
    color: black;
}

div {
    color: black;
    background-color: white;
}

div.loginThing {
    display: flex;
}

input {
    color: black;
}

input[type=submit] {
    background:black; 
    color: white;
    border:0 none;
    cursor:pointer;
}


footer {
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
}

button {
    background-color: black;
    color: white;
}
  
  header {
    position: fixed;
    flex: 0 80px;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }