@import url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');

body {
    font-family: 'IBM Plex Mono';
    display: flex;
    min-width: 375px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

ul.navbar {
    top: 10px;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #ffffff;
    color: black;
}

div {
    color: black;
    background-color: white;
}

div.loginThing {
    display: flex;
    flex-direction: column;
}

input {
    color: black;
    margin: 6px;
}

input[type=submit] {
    padding:5px 15px; 
    background:black; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

span, a {
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    bottom: 10px;
    width: 100%;
}

button {
    background-color: black;
    color: white;
}

.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  .quote {
    font-style: italic;
  }